.main {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 6rem;
  column-gap: 10px;
  row-gap: 10px;
  text-align: center;
}

.gauge{
  min-width: 200px;
  flex: 1;
  --percent: 60;
  --deg: calc(var(--percent) * 1.8deg);
  --thickness: 2rem;
  aspect-ratio: 1;
  background-image:
    radial-gradient(closest-side, black 0%, black calc(100% - var(--thickness)), transparent calc(100% - var(--thickness))),
    conic-gradient(from -90deg, limegreen 0deg var(--deg), transparent var(--deg) 180deg),
    conic-gradient(from -90deg, lightgray 0deg 180deg, transparent 180deg);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.card {
  border-radius: var(--border-radius);
  background-color: var(--card-rgb);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: all ease-in-out 200ms;
}

.card:hover {
  background-color: var(--card-rgb);
  border: white;
}